.navigation {
	background-color: #fff;
}

.navigation ul {
	background-color: #fff;
}

.navigation li a, .navigation li a:visited {
	color: #001824;
	font-weight: bold;
}

.navigation .logo {
	fill: #001824;
}

/* GitHub/Twitter logo fill */
.navigation li a svg path {
	fill: #02303A;
}

.navigation li a:hover {
	color: #165f47;
}

/* menu icon */

.navigation .menu-icon .navicon {
	background: #333;
}

.navigation .menu-icon .navicon:before,
.navigation .menu-icon .navicon:after {
	background: #333;
}
