.navigation {
	background-color: #001824;
}

.navigation ul {
	background-color: #001824;
}

.navigation li a, .navigation li a:visited {
	color: white;
	font-weight: bold;
}

.navigation .logo {
	fill: #00FF8A;
}

/* GitHub/Twitter logo fill */
.navigation li a svg path {
	fill: white;
}

.navigation li a:hover {
	color: #00FF8A;
}

/* menu icon */

.navigation .menu-icon .navicon {
	background: white;
}

.navigation .menu-icon .navicon:before,
.navigation .menu-icon .navicon:after {
	background: white;
}


body {
	background-color: #001824;
}

/*.landing-page-section {*/
/*	width: 100%;*/
/*	margin: 0 auto;*/
/*	color: #6B6E70;*/
/*}*/

body h1 {
	color: white;
}

p {
	color: white;
}

#footer p {
	color: #001824;
}
