/*.subheader, #content #toctitle, .admonitionblock td.content > .title, .exampleblock > .title, .imageblock > .title, .videoblock > .title, .listingblock > .title, .literalblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, .sidebarblock > .title, .tableblock > .title, .verseblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title, .tableblock > caption { color: #001824; }*/
.subheader, #content #toctitle, .admonitionblock td.content > .title, .exampleblock > .title, .imageblock > .title, .videoblock > .title, .listingblock > .title, .literalblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, .sidebarblock > .title, .tableblock > .title, .verseblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title, .tableblock > caption { 	color: inherit;
	font-family: inherit; }

/* Abbreviations */
abbr, acronym { color: #222222; }

/* Blockquotes */
blockquote cite { color: #555555; }
blockquote cite a, blockquote cite a:visited { color: #555555; }

blockquote, blockquote p { color: #6f6f6f; }

/* Tables */
table { background: white; }
table thead, table tfoot { background: whitesmoke; }
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td { color: #222222; }
table tr th, table tr td { color: #222222; }
table tr.even, table tr.alt, table tr:nth-of-type(even) { background: #f9f9f9; }

*:not(pre) > code { background-color: #f7f7f8; }

kbd.keyseq { color: #555555; }

kbd:not(.keyseq) { color: #222222; }

.menuseq, .menu { color: #090909; }

p a > code:hover { color: #561309; }

#header > h1 { color: black; }
#header span { color: #6f6f6f; }

#toctitle { color: #7a2518; }

#content #toc { background: inherit; }

#footer { background-color: #222222; }

#footer-text { color: #dddddd; }

#content h1 > a.link, h2 > a.link, h3 > a.link, #toctitle > a.link, .sidebarblock > .content > .title > a.link, h4 > a.link, h5 > a.link, h6 > a.link { color: #001824; }
#content h1 > a.anchor, h2 > a.anchor, h3 > a.anchor, h4 > a.anchor, h5 > a.anchor, h6 > a.anchor { color: #001824; }
#content h1 > a.link:hover, h2 > a.link:hover, h3 > a.link:hover, #toctitle > a.link:hover, .sidebarblock > .content > .title > a.link:hover, h4 > a.link:hover, h5 > a.link:hover, h6 > a.link:hover { color: #001824; }

.admonitionblock > table td.content { color: #6f6f6f; }

.exampleblock > .content { background: white; }
.exampleblock > .content h1, .exampleblock > .content h2, .exampleblock > .content h3, .exampleblock > .content #toctitle, .sidebarblock.exampleblock > .content > .title, .exampleblock > .content h4, .exampleblock > .content h5, .exampleblock > .content h6, .exampleblock > .content p { color: #333333; }

.sidebarblock { background: #f2f2f2; }
.sidebarblock h1, .sidebarblock h2, .sidebarblock h3, .sidebarblock #toctitle, .sidebarblock > .content > .title, .sidebarblock h4, .sidebarblock h5, .sidebarblock h6, .sidebarblock p { color: #333333; }
.sidebarblock > .content > .title { color: #7a2518; }

.listingblock:hover code[class*=" language-"]:before { color: #999; }

.listingblock.terminal pre .command:before { color: #999; }

.highlight.pygments .lineno, table.pyhltable td:not(.code) { color: #999; }

.quoteblock .attribution { color: #555555; }

p.tableblock.header { color: #222222; }

.qanda > ol > li > p > em:only-child { color: #00467f; }

.gist .file-data > table { background: #fff; }

.admonitionblock td.icon [class^="fa icon-"]:before {
	cursor: default;
	color: transparent;
	font-size: 3.5em;
	text-shadow: 0 0 #208665;
	opacity: 0.7;
}
/*.admonitionblock td.icon [class^="icon-"]:before { font-size: 2.5em; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); cursor: default; }*/
/*.admonitionblock td.icon .icon-note:before { content: "\f05a"; color: #005498; color: #003f72; }*/
/*.admonitionblock td.icon .icon-tip:before { content: "\f0eb"; text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8); color: #111; }*/
/*.admonitionblock td.icon .icon-warning:before { content: "\f071"; color: #bf6900; }*/
/*.admonitionblock td.icon .icon-caution:before { content: "\f06d"; color: #bf3400; }*/
/*.admonitionblock td.icon .icon-important:before { content: "\f06a"; color: #bf0000; }*/

.conum { color: white !important; background-color: #222222; }
.conum * { color: white !important; }
