/*meta.foundation-mq-small { font-family: "only screen and (min-width: 768px)"; width: 768px; }*/

/*meta.foundation-mq-medium { font-family: "only screen and (min-width:1280px)"; width: 1280px; }*/

/*meta.foundation-mq-large { font-family: "only screen and (min-width:1440px)"; width: 1440px; }*/
/*!**!*/
/*html, body { font-size: 100%; }*/

/*body { background: white; color: rgba(0, 0, 0, 0.8); padding: 0; margin: 0; font-family: "Noto Serif", "DejaVu Serif", serif; font-weight: normal; font-style: normal; line-height: 1; position: relative; cursor: auto; }*/

/*a:hover { cursor: pointer; }*/
/*!**!*/
/*object, svg { display: inline-block; vertical-align: middle; }*/

/*.center { margin-left: auto; margin-right: auto; }*/

/*.spread { width: 100%; }*/


/* Typography resets */
div, dl, dt, dd, h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6, pre, form, p, blockquote, th, td { margin: 0; padding: 0; direction: ltr; }
ul, li, ol {
	padding: 0;
	direction: ltr;
}

/* Default Link Styles */
a { color: #208665; text-decoration: none; line-height: inherit; }
a:hover, a:focus { color: #165f47; text-decoration: underline; }
a img { border: none; }

/* Default paragraph styles */
p { font-family: inherit; font-weight: normal; font-size: 1em; line-height: 1.6; margin-bottom: 1.25em; text-rendering: optimizeLegibility; }
p aside { font-size: 0.875em; line-height: 1.35; font-style: italic; }

/* Default header styles */
h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 { font-family: 'Rajdhani', sans-serif; font-weight: 300; font-style: normal; color: #ba3925; text-rendering: optimizeLegibility; margin-top: 1em; margin-bottom: 0.5em; line-height: 1.0125em; }
h1 small, h2 small, h3 small, #toctitle small, .sidebarblock > .content > .title small, h4 small, h5 small, h6 small { font-size: 60%; color: #e99b8f; line-height: 0; }

h1 { font-size: 2.125em; }

h2 { font-size: 1.6875em; }

h3, #toctitle, .sidebarblock > .content > .title { font-size: 1.375em; }

h4 { font-size: 1.125em; }

h5 { font-size: 1.125em; }

h6 { font-size: 1em; }

hr { border: solid #ddddd8; border-width: 1px 0 0; clear: both; margin: 1.25em 0 1.1875em; height: 0; }

/* Helpful Typography Defaults */
em, i { font-style: italic; line-height: inherit; }

strong, b { font-weight: bold; line-height: inherit; }

small { font-size: 60%; line-height: inherit; }

code { font-family: "Droid Sans Mono", "DejaVu Sans Mono", monospace; font-weight: normal; color: rgba(0, 0, 0, 0.9); }




/********************/
/* Style override   */
/********************/
.admonitionblock td.content > .title, .exampleblock > .title, .imageblock > .title, .videoblock > .title, .listingblock > .title, .literalblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, .sidebarblock > .title, .tableblock > .title, .verseblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title { font-style: italic; font-weight: normal; }

/* Override asciidoc styles */
#header {
	position: static;
}

#header, #content {
	padding: 0;
}

#header .details {
	/* TODO: Pretty sure there's a way to avoid Asciidoc generating details */
	display: none;
}

p {
	color: #001824;
}

h1,
h2,
p,
p strong,
td.content,
td.content strong,
div.footnote strong,
span.alt {
	letter-spacing: normal;
}

.subheader,
.admonitionblock td.content > .title,
.audioblock > .title,
.exampleblock > .title,
.imageblock > .title,
.listingblock > .title,
.literalblock > .title,
.stemblock > .title,
.openblock > .title,
.paragraph > .title,
.quoteblock > .title,
table.tableblock > .title,
.verseblock > .title,
.videoblock > .title,
.dlist > .title,
.olist > .title,
.ulist > .title,
.qlist > .title,
.hdlist > .title {
	color: inherit;
	font-family: inherit;
}

.listingblock .title,
.listingblock .title code {
	font-style: normal;
	font-weight: bold;
}

.admonitionblock td.content > .title {
	font-family: inherit;
	font-style: normal;
	font-size: 1.25em;
	color: #555;
}

.admonitionblock table tr td {
	padding: 0;
}

.imageblock,
.videoblock {
	padding: 0.25em;
}

p.lead,
.paragraph.lead > p,
#preamble > .sectionbody > .paragraph:first-of-type p {
	font-size: 1.0625rem;
}

.paragraph.lead > p,
#preamble > .sectionbody > .paragraph:first-of-type p {
	color: inherit;
}

.sect1 {
	padding-bottom: 0;
}

.sect1 + .sect1 {
	border: 0 none;
}

.admonitionblock .icon .title {
	font-size: 2.3em;
}

.admonitionblock > table td.icon .title {
	font-family: 'IBM Plex Sans', sans-serif;
}

.admonitionblock .content,
.admonitionblock p {
	color: #666;
}

.verseblock pre {
	font-family: 'IBM Plex Sans', sans-serif;
}

td.hdlist1 {
	padding-bottom: 0.625rem;
}

td.hdlist2 p {
	margin-bottom: 0.625rem;
}

body.book #header > h1 {
	border: 0;
}

#header > h1:first-child {
	margin-top: 0;
}

/*#content a.link {*/
/*	color: #02303A;*/
/*}*/

.highlight .com {
	color: #777;
}

.listingblock pre.highlightjs > code {
	overflow-x: auto;
}

.listingblock pre.highlight {
	overflow-x: auto;
}

.listingblock pre.highlight > code {
	white-space: pre;
}

.conum[data-value] {
	font-family: 'IBM Plex Sans', sans-serif;
}

.colist > table tr > td:first-of-type {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	line-height: 1.4;
	vertical-align: baseline;
}


/*
 * Samples
 */
.exampleblock > .content { border-style: none; padding: 1.25em; background: inherit; }
/* Maybe */
/*.exampleblock > .content h1, .exampleblock > .content h2, .exampleblock > .content h3, .exampleblock > .content #toctitle, .sidebarblock.exampleblock > .content > .title, .exampleblock > .content h4, .exampleblock > .content h5, .exampleblock > .content h6, .exampleblock > .content p { color: #333333; }*/

/*.exampleblock > .content {*/
/*	background-color: inherit;*/
/*	border: 0 none;*/
/*	box-shadow: none;*/
/*	padding: 0;*/
/*}*/

.exampleblock > .content .title {
	background-color: #f7f7f8;
	border-top: 1px solid #ccc;
	font-family: 'Inconsolata', monospace;
	margin: 0;
	padding: 1em 1em 0;
}

.exampleblock .listingblock {
	margin: 0;
}

p {
	margin-bottom: 1.25rem;
	font-size: 1rem;
}

/* Modify padding on top of heading */
@media (min-width: 1024px) {
	/*
	  Pushes the section headings to just below the top nav bar when a user
	  navigates directly to section anchors.
	 */
	#content h2[id], #content h3[id], #content h4[id], #content h5[id] {
		padding-top: 60px;
	}

	#content h2[id] {
		/* Little extra room above h2s */
		margin-top: -1em;
	}

	#content h3[id], #content h4[id], #content h5[id] {
		margin-top: -60px;
	}
}



h1,
h2,
h3,
h4,
h5,
h6,
#toctitle,
.sidebarblock > .content > .title {
	font-family: inherit;
	font-weight: 500;
	color: inherit;
}



/* Style override for visited links */
/*a:visited {*/
/*	text-decoration: none;*/
/*}*/

/* Style for all monospace text */
pre, pre > code, code {
	font-family: 'Inconsolata', monospace;
}

*:not(pre) > code {
	border-style: none;
}

/* Ensure code block have the same background and no border */
/*.literalblock > .content pre, .listingblock > .content pre { background: none; border-width: 1px 0; border-style: dotted; border-color: #bfbfbf; -webkit-border-radius: 4px; border-radius: 4px; padding: 0.75em 0.75em 0.5em 0.75em; word-wrap: break-word; }*/
.literalblock pre, .listingblock pre:not(.highlight), .listingblock pre[class="highlight"], .listingblock pre[class^="highlight "], .listingblock pre.CodeRay, .listingblock pre.prettyprint { background: #f7f7f8; padding: 1em; overflow-x: auto; }
.sidebarblock .literalblock pre, .sidebarblock .listingblock pre:not(.highlight), .sidebarblock .listingblock pre[class="highlight"], .sidebarblock .listingblock pre[class^="highlight "], .sidebarblock .listingblock pre.CodeRay, .sidebarblock .listingblock pre.prettyprint { background: #f2f1f1; }
.listingblock pre.prettyprint { border-style: none; }

/* Display language inside code block on hover */
.listingblock code[data-lang]:before { display: none; content: attr(data-lang); position: absolute; font-size: 0.75em; top: 0.425rem; right: 0.5rem; line-height: 1; text-transform: uppercase; color: #999; }
.listingblock:hover code[data-lang]:before { display: block; }
