.navigation {
	/*box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);*/
	/*position: fixed;*/
	width: 100%;
	z-index: 3;
	display: table;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.navigation li a {
	display: block;
	padding: 20px 20px;
	/*border-right: 1px solid #f4f4f4;*/
	text-decoration: none;
	line-height: 1;
}

/* GitHub logo fill */

.navigation li {
	font-size: 16px;
}

/*.navigation li a:hover,*/
/*.navigation .navigation-hamburger:hover {*/
/*	background-color: #f4f4f4;*/
/*}*/

.navigation .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	text-decoration: none;
	width: 5.94em;
}

/* menu */

.navigation .navigation-items {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

/* menu icon */

.navigation .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}

.navigation .menu-icon .navicon {
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.navigation .menu-icon .navicon:before,
.navigation .menu-icon .navicon:after {
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.navigation .menu-icon .navicon:before {
	top: 5px;
}

.navigation .menu-icon .navicon:after {
	top: -5px;
}

/* menu btn */

.navigation .navigation-hamburger {
	display: none;
}

.navigation .navigation-hamburger:checked ~ .navigation-items {
	max-height: 240px;
}

.navigation .navigation-hamburger:checked ~ .menu-icon .navicon {
	background: transparent;
}

.navigation .navigation-hamburger:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.navigation .navigation-hamburger:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.navigation .navigation-hamburger:checked ~ .menu-icon:not(.steps) .navicon:before,
.navigation .navigation-hamburger:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
	.navigation li {
		float: left;
	}
	.navigation li a {
		padding: 20px 30px;
	}
	.navigation .navigation-items {
		clear: none;
		float: right;
		max-height: none;
	}
	.navigation .menu-icon {
		display: none;
	}
}

.navigation-socials li {
	float: left;
}

.navigation-socials li a {
	padding-left: 10px;
	padding-right: 15px;
}

li.navigation-twitter a {
	padding-top: 17px;
	padding-bottom: 17px;
}
