image: nokeedev/generic-builder

build:
  stage: build
  script: ./gradlew assemble
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/

test:
  image: nokeedev/gcc-builder
  stage: test
  # FIXME: Shouldn't need to ignore the Asciinema tasks, they should just not be wired in for testing
  script: ./gradlew check --continue -x :docs:generateSamplesAsciinema -x :docs:compileDocsAsciicast
  artifacts:
    when: on_failure
    paths:
      - subprojects/platform-jni/build/tmp/test files
      - subprojects/platform-jni/build/reports/tests
      - subprojects/docs/build/repository
      - subprojects/docs/build/tmp/test files
      - subprojects/docs/build/reports/tests

deploy:
  stage: deploy
  script: ./gradlew bintrayUpload
  only:
    - master


publish jbakes:
  stage: build
  script:
    - ./gradlew :docs:publishJbakePublicationToS3Repository
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/17545900/trigger/pipeline # docs.nokee.dev
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline # nokeedev.gitlab.io
  only:
    changes:
      - .gitlab-ci.yml
      - subprojects/docs/src/jbake/**/*
      - subprojects/docs/docs.gradle
      - gradle/plugins/docs-gradle-plugin
    refs:
      - master
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/**/*

publish baked:
  image: nokeedev/gcc-builder
  stage: build
  script:
    - ./gradlew :docs:publishBakedPublicationToS3Repository
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form ref=master https://gitlab.com/api/v4/projects/16537594/trigger/pipeline # nokeedev.gitlab.io
  only:
    changes:
      - .gitlab-ci.yml
      - subprojects/docs/**/*
      - subprojects/docs/docs.gradle
      - gradle/plugins/docs-gradle-plugin
    refs:
      - master
  artifacts:
    when: on_failure
    paths:
      - subprojects/docs/build/**/*
