# Ignore Gradle project-specific cache directory
.gradle
intTestHomeDir

# Ignore Gradle build output directory
build

.idea/
.DS_Store
.project
.settings/
.vagrant/

# Ignore Xcode user data
xcuserdata/
