name: Documentation

on: push

jobs:
    publish-jbake-templates:
        if: github.ref == 'refs/heads/master'
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
                with:
                    submodules: true
            -   uses: ./.github/actions/install-documentation-dependencies
            -   name: Build all template
                id: gradle
                uses: ./.github/actions/gradle
                with:
                    arguments: :docs:publishJbakePublicationToDocsNokeeDevRepository -PskipAllAsciinemaTasks --continue --no-daemon --no-build-cache "-PdocsNokeeDevAccessKey=${{ secrets.AWS_ACCESS_KEY }}" "-PdocsNokeeDevSecretKey=${{ secrets.AWS_SECRET_KEY }}"
                    build-cache-username: ${{ secrets.GRADLE_CACHE_USERNAME }}
                    build-cache-password: ${{ secrets.GRADLE_CACHE_PASSWORD }}
                    build-scan-access-key: ${{ secrets.BUILD_SCAN_ACCESS_KEY }}
                    github-token: ${{ secrets.GITHUB_TOKEN }}
            -   name: Trigger nokeedev.gitlab.io rebuild (main-only)
                shell: bash
                run: |
                    curl \
                    --silent \
                    --show-error \
                    --fail \
                    --request POST \
                    --form "token=${{ secrets.GITLAB_CI_TRIGGER_NOKEEDEVGITLABIO }}" \
                    --form ref=master \
                    --url https://gitlab.com/api/v4/projects/16537594/trigger/pipeline
